@use "../vendors/mq";

.l-notes {
  column-count: 1;
  column-gap: 0.5rem;
  padding: 1rem 1rem;
  margin-bottom: 50px;

  @include mq.mq($from: seed) {
    column-count: 2;
  }

  @include mq.mq($from: seedling) {
    column-count: 2;
  }

  @include mq.mq($from: sprout) {
    column-count: 3;
  }

  @include mq.mq($from: plant) {
    column-count: 4;
  }
}
