<!DOCTYPE html>
<html lang="en" th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:replace="${title}">Layout title</title>
    <link th:href="@{/css/bundle.css}" rel="stylesheet"/>
    <script th:src="@{/js/bundle.js}" defer></script>
</head>
<body hx-boost="true">
<aside class="l-navbar" th:insert="~{fragments/navbar}"></aside>
<main class="container" th:replace="${content}"></main>
</body>
</html>