@use "../variables/colors";
@use "../variables/base";

.credentials-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid colors.$border;

  > .field {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;

    > label {
      font-weight: base.$font-bold;
      margin-bottom: 6px;
    }

    > input {
      box-shadow: inset 3px 3px 7px -4px colors.$shadow;
      border: 1px solid colors.$border;
      border-radius: 5px;
      padding: 0.35rem;
    }
  }
}

.form-links {
  margin-top: 1rem;
  text-align: center;
}