@use "../variables/colors";
@use "../variables/base";

.note-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  page-break-inside: avoid;

  textarea {
    box-shadow: inset 3px 3px 7px -4px colors.$shadow;
    border: 1px solid colors.$border;
    border-radius: 5px;
    resize: vertical;
    padding: 1rem;
  }
}