@use "../vendors/mq";
@use "../variables/colors";
@use "../variables/base";

.note {
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  page-break-inside: avoid;
  padding: 1rem;
  border: 1px solid colors.$border;
  font-weight: base.$font-regular;
  border-radius: 6px;
  margin-bottom: 0.5rem;

  &:hover {
    background-color: colors.$highlight;
    box-shadow: 3px 3px 7px -4px colors.$shadow;
  }

  &__body {
    margin-bottom: 1rem;
    text-align: justify;
  }

  &-meta {
    display: flex;
    justify-content: space-between;

    > .pin {
      cursor: pointer;

      > svg {
        width: 20px;
        height: auto;
        stroke: colors.$white;

        :hover > & {
          stroke: colors.$black;
        }
      }
    }

    > .unpin {
      > svg {
        width: 20px;
        height: auto;
      }
    }

    > .timestamp {
      font-weight: base.$font-semibold;
      text-align: right;
    }
  }
}