@use "../vendors/mq";
@use "../variables/colors";

.note {
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  page-break-inside: avoid;
  padding: 1rem;
  border: 1px solid colors.$border;
  font-family: 'Lato';
  font-weight: 400;
  border-radius: 6px;
  margin-bottom: 0.35rem;

  &:hover {
    background-color: colors.$highlight;
    box-shadow: 3px 3px 7px -4px rgba(199, 199, 199, 0.53);
  }

  &__body {
    flex-grow: 1;
    line-height: 21px;
  }

  &__meta {
    font-family: 'Lato';
    font-weight: 700;
  }
}