<html th:replace="~{layouts/root :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to cherry[keep]</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<section>
    <form th:action="@{/login}" method="post" class="credentials-form">
        <div class="field"><label for="username">Username</label><input type="text" name="username" id="username"/>
        </div>
        <div class="field"><label for="password">Password</label><input type="password" name="password" id="password"/>
        </div>
        <div><input type="submit" value="Sign in" class="button"/></div>
    </form>
</section>