<!DOCTYPE html>
<html th:replace="~{layouts/root :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My notes</title>
</head>
<body>
<section>
    <form th:action="@{/notes}" method="post">
        <label for="noteText" hidden>Note text</label>
        <textarea th:name="noteText" id="noteText" required minlength="1" maxlength="500"></textarea>
        <input type="submit" value="Create"/>
    </form>
    <div class="l-notes">
        <div th:each="note : ${userNotes}" class="note">
            <p th:text="${note.content.getText()}" class="note__body"></p>
            <p th:text="${#temporals.format(note.content.getCreatedAt(), 'MMM dd')}" class="note__meta"></p>
        </div>
    </div>
</section>
</body>
</html>