<!DOCTYPE html>
<html th:replace="~{layouts/root :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My notes</title>
</head>
<body>
<section>
    <div class="l-notes">
        <form th:hx-post="@{/notes}" hx-target="this" hx-swap="afterend"
              hx-on::after-request=" if(event.detail.successful) this.reset()" class="note-form">
            <label for="noteText" hidden>Note text</label>
            <textarea th:name="noteText" id="noteText" required minlength="1" maxlength="500" rows="3"></textarea>
            <input type="submit" value="Add" class="button"/>
        </form>
        <article th:each="noteEntity : ${userNotes}"
                 th:insert="~{fragments/note :: note(${noteEntity})}"></article>
    </div>
</section>
</body>
</html>