@use 'abstracts/mq-settings';

@use "variables/fonts";

@use "vendors/_reset.css";

@use "layout/notes";
@use "layout/new-note";

@use "components/button";
@use "components/note";
@use "components/note-form";

html, body {
  position: relative;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}